<h1>Feed Sources</h1>

<div id="top_menu">
  <%= render 'shared/top_menu' %>
</div>

<table class="feed_sources">
  <thead>
    <th>Url Source</th>
    <th></th>
  </thead>
<% @feeds.each do |feed| %>
  <tr>
    <td><%= feed.url_link %></td>
    <td><%= link_to 'Delete', feed, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New feed', new_feed_path %>