<h1>Listing rsses</h1>

<table>
  <tr>
  </tr>

<% @rsses.each do |rss| %>
  <tr>
    <td><%= link_to 'Show', rss %></td>
    <td><%= link_to 'Edit', edit_rss_path(rss) %></td>
    <td><%= link_to 'Destroy', rss, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New rss', new_rss_path %>